@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.animate-slide {
  animation: slideText 15s linear infinite;
}

#scroll::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
@keyframes slideText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.animate-vertical-scroll {
  display: inline-block;
  animation: scrollUp 20s linear infinite;
}


@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-scroll-horizontal {
  animation: scroll-horizontal 5s linear infinite;
}